# Visual studio
Debug
x64
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs
.localhistory
*.sln
*.sln.DotSettings.user
.pdb

sam

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo

*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Test images
*.ppm

# External Libraries
external_libs/

#CMake ignores
cmake-build-debug/

#Directory of 3ds files to use for testing
3ds_test_files/

#ignoring this random drectory that beaus computer
.idea/


# ingnoring test files that might appear while beau makes the .photon file
obj_parser/*.dat

# the bunny
bun_*

# photon file
*.photon

