# Visual studio
Debug
x64
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs
.localhistory
*.sln

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo

*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# External Libraries
external_libs/

#CMake ignores
cmake-build-debug/

#Directory of 3ds files to use for testing
3ds_test_files/